<div class="container">
    Solo en Master

    <div class="row form-group">
        <div class="col-md-8">
            <div *ngIf="!paidFor">
                <div class="row form-group">
                    <h4><b>Lista de Productos</b></h4>
                </div>
                <div *ngFor="let compra of detalleCarrito" class="lista-producto">

                    <div class="container perfil">

                        <div class="row form-group row-text">
                            <div class="col-md-2 label-text">
                                <p class="text-left">Nombre</p>
                            </div>
                            <div class="col-md-4 box-text">
                                {{compra?.producto.nombreproducto}}
                            </div>
                            <div class="col-md-2 label-text">
                                <p class="text-left">Descripci&oacute;n</p>
                            </div>
                            <div class="col-md-4 box-text">
                                {{compra?.producto.descripcionproducto}}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div *ngIf=paidFor>
                <h1>Se complet&oacute;o la compra!</h1>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Formas de pago</h3>
            <div [hidden]="paidFor" #paypal></div>
        </div>
    </div>
</div>