<div class="offset-md-4 col-md-4 my-3 text-center">
  <div class="espacio-blanco visible-lg visible-md hidden-xs hidden-sm"></div>
  <div class="cabecera-login">{{cabecera}}</div>
  <div class="espacio-blanco-small"></div>
  <div class="widget">
    <div class="container">
      <form class="item" (submit)="login()" *ngIf="mostrarMenuRegistrar==false">

        <div class="form-group labels-datos">
          <label class="col-md-8" for="email">Usuario</label>
          <div class="col-md-12 ">
            <input type="text" name="email" placeholder="Email" class="form-control" [(ngModel)]="user" required
              size="20" />
          </div>
        </div>
        <div class="form-group labels-datos">
          <label class="col-md-8" for="password">Contrase&ntilde;a</label>
          <div class="col-md-12">
            <input type="password" name="pass" placeholder="Password" class="form-control" [(ngModel)]="pass" required
              size="15" />
          </div>
        </div>

        <div class="form-group" *ngIf="mensajeerror != ''  ">
          <div class="col-md-12">
            <div class="text-danger">
              {{mensajeerror}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            No tienes contraseña? <a class="text-primary" (click)="menuRegistrar()">Registrarse</a>
          </div>
          <div class="col-md-12 ">
              <button type="submit" class="btn btn-sm btn-block btn-success" style="cursor: pointer">Ingresar</button>
            </div>
        </div>
      </form>

      <form class="item" (submit)="registro()" *ngIf="mostrarMenuRegistrar==true">

        <div class="form-group labels-datos">
          <label class="col-md-8" for="usuario">Usuario</label>
          <div class="col-md-12 ">
            <input type="text" name="usuario" placeholder="Usuario" class="form-control" [(ngModel)]="userCreate"
              required size="20" />
          </div>
        </div>
        <div class="form-group labels-datos">
          <label class="col-md-8" for="password">Contrase&ntilde;a</label>
          <div class="col-md-12">
            <input type="password" name="password" placeholder="Contraseña" class="form-control"
              [(ngModel)]="passCreate" required size="15" />
          </div>
        </div>
        <div class="form-group labels-datos">
          <label class="col-md-8" for="passwordConfirm">Confirmar Contrase&ntilde;a</label>
          <div class="col-md-12">
            <input type="password" name="passwordConfirm" placeholder="Contraseña" class="form-control"
              [(ngModel)]="passConfirmCreate" required size="15" />
          </div>
        </div>
        <div class="form-group" *ngIf="mensajeerror != ''  ">
            <div class="col-md-12">
              <div class="text-danger">
                {{mensajeerror}}
              </div>
            </div>
          </div>
        <div class="form-inline ">
          <div class="col-md-6">
            <button type="submit" class="btn btn-sm btn-block btn-light" style="cursor: pointer" (click)="volver()">Volver</button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-sm btn-block btn-success" style="cursor: pointer">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>